.scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-thumb-blue-600::-webkit-scrollbar-thumb {
    background-color: #3182ce; /* blue-600 */
    border-radius: 10px;
  }
  .scrollbar-track-blue-800::-webkit-scrollbar-track {
    background-color: #2c5282; /* blue-800 */
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #3182ce; /* blue-600 */
    border-radius: 10px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #2c5282; /* blue-800 */
  }
  